{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous">
        </script>
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/icon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/icon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/icon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'main/icon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'main/icon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="Baby Cloud">
        <meta name="application-name" content="Baby Cloud">
        <meta name="msapplication-TileColor" content="#316197">
        <meta name="msapplication-config" content="{% static 'main/icon/browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">
        {% if title %}
            <title>{{ title }} | Baby Cloud</title>
        {% else %}
            <title>Baby Cloud</title>
        {% endif %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>