{% extends 'base.html' %}

{% block body %}
<main class="container">
    <h1 class="mb-3">API Document</h1>
    <h2>Get Directory</h2>
    <p class="font-monospace">/drive/api/directory?path={path}</p>
    <p>By calling this API you will get a list of files and folders in the path</p>
    <h3>A sample request</h3>
    <p class="font-monospace">http://localhost:8000/drive/api/directory?path=D:/</p>
    <h3>A sample response</h3>
    <script src="https://gist.github.com/ILoveBacteria/61685c3458f4ae6b6e09f5f11028f649.js"></script>
</main>
{% endblock %}